<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @messege.content %>
</p>

<p>
  <strong>Read:</strong>
  <%= @messege.read %>
</p>

<%= link_to 'Edit', edit_messege_path(@messege) %> |
<%= link_to 'Back', messeges_path %>
